@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  padding: 30px;
}

.add-book {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.book-list {
  margin-top: 15px;
}

.form-item {
  margin-top: 20px;
  width: 350px;
}

@media only screen and (max-width: 600px) {
  .form-item {
    width: 100%;
  }
}
